// SITE LOGO
	.site-logo {
		@include table($valign: middle);
		@include rem(min-height, $logo-size);
		border-top-left-radius: $panel-bd-radius;		
		overflow: hidden;
	}
		.site-logo_large {
			@include rem(height, $logo-size-lg);

			.site-logo__title {
				line-height: 1.4;
			}
		}
		.site-logo__image {
			@include rem(width, $logo-size);
			background: $color-green-1 url('../images/logo.png') no-repeat center;
			background-size: 6.4rem;
			cursor: pointer;
			transition: background-color .3s, box-shadow .3s;

			&:hover {
				background-color: darken($color-green-1, 5%);
			}
			&:active {
				background-color: darken($color-green-1, 10%);
				box-shadow: inset -2px -2px 5px rgba(0,0,0, .2);
			}
		}

		.site-logo__title {
			margin: 0;
			@include rem(padding, 20px 40px);
			border-bottom: 2px solid $color-gray-4;
			@include font-family('hn');
			@include rem(font-size, 28px);
			line-height: 1.2;
			color: $color-green-1;

			a {
				text-decoration: none;
				&:hover {
					color: darken($color-green-1, 10%);
				}
			}
		}
// ---------

// USER AREA
	.user-area {
		border-bottom: 2px solid $color-gray-4;

		i[class*="icon-"] {
			@include rem(font-size, 25px);
			color: $color-green-1;
			@include rem(margin-left, 20px);
			transition: color .3s;
		}
	}
		.user-area__name {
			@include rem(font-size, 20px);
			color: transparentize(#000, .7);
			transition: color .3s;

			&:hover,
			&:focus {
				color: $color-gray-1;
				text-decoration: none;

				i[class*="icon-"] {
					color: darken($color-green-1, 15%);
				}
			}
		}
// ----------

// LOGIN PAGE
	.login-form {
		width: 600px;
		@include font-family(hn);
		@extend .box-panel;
	}
		.login-form__body {
			@include rem(padding, 60px);
		}
// ----------

