// SITE LOGO
	.site-logo {
		@include table($valign: middle);
		@include rem(min-height, $logo-size);
		border-top-left-radius: $panel-bd-radius;
		overflow: hidden;
	}
		.site-logo_large {
			@include rem(height, $logo-size-lg);

			.site-logo__title {
				line-height: 1.4;
			}
		}
		.site-logo__image {
			@include rem(width, $logo-size);
			background: $color-green-1 url('../images/logo.png') no-repeat center;
			background-size: 6.4rem;
			cursor: pointer;
			transition: background-color .3s, box-shadow .3s;

			&:hover {
				background-color: darken($color-green-1, 5%);
			}
			&:active {
				background-color: darken($color-green-1, 10%);
				box-shadow: inset -2px -2px 5px rgba(0,0,0, .2);
			}
		}

		.site-logo__title {
			margin: 0;
			@include rem(padding, 20px 40px);
			border-bottom: 2px solid $color-gray-4;
			@include font-family('hn');
			@include rem(font-size, 28px);
			line-height: 1.2;
			color: $color-green-1;

			a {
				text-decoration: none;
				&:hover {
					color: darken($color-green-1, 10%);
				}
			}
		}
// ---------

// USER AREA
	.user-area {
		border-bottom: 2px solid $color-gray-4;

		i[class*="icon-"] {
			@include rem(font-size, 25px);
			color: $color-green-1;
			@include rem(margin-left, 20px);
			transition: color .3s;
		}
	}
		.user-area__name {
			@include rem(font-size, 20px);
			color: transparentize(#000, .7);
			transition: color .3s;

			&:hover,
			&:focus {
				color: $color-gray-1;
				text-decoration: none;

				i[class*="icon-"] {
					color: darken($color-green-1, 15%);
				}
			}
		}
// ----------

// LOGIN PAGE
	.login-form {
		@include rem(width, 600px);
		@include font-family(hn);
		@include box-panel(($panel-bd-radius + 3px) $panel-bd-radius $panel-bd-radius $panel-bd-radius);
	}
		.login-form__body {
			@include rem(padding, 60px);
		}
// ----------

// TABLE WRAP
	.table-wrap {
		border: 1px solid $color-gray-3;
		border-radius: 6px;
		@include rem(font-size, 18px);
		@include font-family(hn);

		.table {
			margin-bottom: 0;

			tr {
				cursor: pointer;
				
				&:first-child {
					td {
						border-top: 0;

						&:first-child {
							border-top-left-radius: 6px;
						}
						&:last-child {
							border-top-right-radius: 6px;
						}
					}
				}

				&:last-child {
					td:first-child {
						border-bottom-left-radius: 6px;
					}
					td:last-child {
						border-bottom-right-radius: 6px;
					}
				}
			}

			td {
				vertical-align: middle;
				@include rem(padding, 15px);

				&:last-child,
				&:first-child {
					@include rem(padding, 15px 30px);				
				}
			}

			.table__record-info {
				span + span {
					@include rem(margin-left, 20px);
					color: $color-gray-0;
				}
			}
			.table__record-icon,
			.table__record-remove {
				width: 1px;
				// @include rem(padding, 0 30px);
				@include rem(font-size, 32px);
				color: $color-gray-01;
			}
			.table__record-remove {
				button {
					opacity: .5;
					transition: opacity .3s;

					&:hover {
						opacity: .8;
					}
				}
			}
		}
	}
// ----------

// TOOLBAR
	.toolbar {
		@include v-align();
	}
		.toolbar_va-middle {
			@include v-align(middle);
		}
		.toolbar_va-bottom {
			@include v-align(bottom);
		}
		.toolbar_max-height {
			height: 100%;
		}
		.toolbar__item + .toolbar__item {
			@include rem(margin-left, 20px);
		}
		.toolbar_compact {
			.toolbar__item + .toolbar__item {
				@include rem(margin-left, 10px);
			}		
		}
// -------

// DOCUMENT
	.document {
		height: 100%;
		@include rem(padding, $content-gutter $document-content-gutter);
		border-bottom: 2px solid $color-gray-5;
		font-family: 'Times New Roman';
		@include rem(font-size, 18px);
		line-height: 1.2;
		color: $color-gray-0;
		overflow: auto;

		h2,
		h3 {
			color: #000;
		}
		h2 {
			@include rem(font-size, 35px);
		}
		h3 {
			@include rem(font-size, 25px);
		}
		label {
			font-family: inherit;
			@include rem(font-size, 16px);			
		}
	}
	.document__title {
		@include rem(margin-bottom, 25px);

		h2 {
			@include rem(margin, 0 auto 15px);
		}
		.form-group {
			@include rem(margin-top, 15px);
		}
		.col-auto {
			font-size: inherit;
		}
	}

// --------

// FORM-TABLE
.form-table {
	display: table;

	& > * {
		display: table-cell;
		vertical-align: middle;
		white-space: nowrap; // убираем схлопывание текста
	}

	label {
		width: 1px;
	}

	[class*="col-"] {
		padding-right: 0;
	}
}
// ----------