header {
	position: absolute;
	top: 0;
	left: 0;
	@include table($valign: middle);
	@include rem(height, $header-height);
	@include font-family('os400');

	.user-area {
		@include rem(padding-right, 40px);
		white-space: nowrap;
		text-align: right;
	}
}