// файлы шрифтов подключаются в fonts.scss

// общий стили для всех иконок
	[class*="icon-"] {
		background: none;
		border: 0;
		font-family: "icons" !important;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		speak: none; // выкл озвучку иконок

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		&.icon-bordered {
			padding: 2px 4px 3px 3px;
			border: 1px solid;
			border-radius: 3px;
		}
	}

// ф-ция, экранирующая символ \
// т.к. sass воспринимает его неправильно
// передаем символьный код иконки (напр. e900)
// дописываем перед кодом иконки - "\ и после кода - "
// в результате получается полный код иконки - "\e900"
@function unicode($char-code){
	@return #{'\"\\' + $char-code + "\""};
}

// коды иконок (без слеша перед кодом, см. функцию выше)
	$icons-codes: (
		"arrow-left": "e900",
		"arrow-right": "e901",
		"chevron-up": "e907",
		"chevron-right": "e908",
		"chevron-left": "e909",
		"chevron-down": "e90a",
		"menu": "e902",
		"print": "e905",
		"remove-square": "e903",
		"search": "e904",
		"user-md": "e906"
	);

// проходим по всем иконкам и проставляем соответствующие коды
	@each $icon-name, $icon-code in $icons-codes {
		.icon-#{$icon-name} {
			&:before {
				content: unicode($icon-code);
			}
		}
	}