html {
	@include viewport('max-width: 1500px') {
		font-size: 9px;
	}
	@include viewport('max-width: 1400px') {
		font-size: 8px;
	}
	// @include viewport('max-width: 768px') {
	// 	// font-size: 7px;
	// }
	// @include viewport('max-width: 480px') {
	// 	font-size: 7px;
	// }
}
html,
body,
.main-wrap,
.main-container {
	height: 100%;
}
body {
	min-width: 1024px;
	background-color: $color-green-1;
	background-image: linear-gradient($color-green-1 0%, $color-green-3 100%);
	@include font-family(os400);
}
.main-wrap {
	@include rem(padding, 40px);
	@include v-align();
	text-align: center;

	> * {
		text-align: left;
	}
}

.main-container {
	position: relative;
	width: 100%;
	max-width: 1500px;
	@extend .box-panel;
}

.main-content {
	position: absolute;
	@include rem(top, $header-height);
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	transition: transform .3s;
	overflow: hidden;
	@include cols();

	& > * {
		white-space: normal;
	}
}
	.main-content_scrolled {
		transform: translate(-100%);
	}
	.main-content_tile {
		white-space: normal;
	}

.page {
	position: relative;
	width: 100%;
	height: 100%;
}
.page__sidebar {
	position: absolute;
	@include rem(top, $content-padding);
	left: 0;
	@include rem(bottom, $content-padding);
	width: 26%;
	@include rem(padding, 0 $content-padding);
	border-right: 1px solid $color-gray-3;
	overflow: auto;
}
.page__content {
	position: absolute;
	@include rem(top, $content-padding);
	right: 0;
	@include rem(bottom, $content-padding);
	width: 100%;
	overflow: auto;
}
	.page__sidebar + .page__content {
		width: 74%;
	}
	.page__content + .page__sidebar {
		border-right: 0;
		border-left: 1px solid $color-gray-3;
	}

.page__header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	@include rem(height, $content-header_h);
	@include rem(padding, 0 $content-padding);
	overflow: hidden;
}
	.page__title {
		@include rem(margin, 0 0 20px);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

.page__body {
	position: absolute;
	@include rem(top, $content-header_h);
	left: 0;
	@include rem(bottom, $content-footer_h);
	width: 100%;
	@include rem(padding, 0 $content-padding);
	overflow: auto;
}
.page__footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	@include rem(height, $content-footer_h);
	@include rem(padding, 0 $content-padding);
	@include table(bottom);
	overflow: hidden;
}
