html {
	@include viewport('max-width: 1500px') {
		font-size: 9px;
	}
	@include viewport('max-width: 1400px') {
		font-size: 8px;
	}
	// @include viewport('max-width: 768px') {
	// 	// font-size: 7px;
	// }
	// @include viewport('max-width: 480px') {
	// 	font-size: 7px;
	// }
}
html,
body,
.main-wrap,
.main-container {
	height: 100%;
}
body {
	min-width: 1024px;
	background-color: $color-green-1;
	background-image: linear-gradient($color-green-1 0%, $color-green-3 100%);
	@include font-family(os400);
}
.main-wrap {
	@include rem(padding, 40px);
	@include v-align();
	text-align: center;

	> * {
		text-align: left;
	}
}

.main-container {
	position: relative;
	width: 100%;
	max-width: 1500px;
	@include box-panel(($panel-bd-radius + 3px) $panel-bd-radius $panel-bd-radius $panel-bd-radius);
	overflow: hidden;
}

.main-content {
	position: absolute;
	@include rem(top, $header-height);
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	@include cols();

	& > * {
		white-space: normal;
	}
}
	// .main-content_scrolled {
	// 	transform: translate(-100%);
	// }
	.main-content_tile {
		white-space: normal;
	}

// PAGE LAYOUT
	.page {
		position: relative;
		width: 100%;
		height: 100%;
		transition: margin .25s ease;

		&_hidden {
			margin-left: -100%;
		}
	}
	.page__sidebar,
	.page__backward {
		position: absolute;
		@include rem(top, $content-gutter);
		left: 0;
		@include rem(bottom, $content-gutter);
		width: $sidebar-width;
		@include rem(padding, 0 $content-gutter);
		border-right: 1px solid $color-gray-3;
		overflow: auto;
	}
		.page__backward {
			width: $backward-width;
			padding: 0;
			color: $color-gray-1;
			text-align: center;
			cursor: pointer;

			&:hover {
				color: darken($color-gray-1, 20%);
			}
			.page__backward-icon {
				position: absolute;
				top: 2px;
				left: 50%;
				@include rem(margin-left, -10px);
				@include rem(font-size, 25px);
			}
		}
	.page__content {
		position: absolute;
		@include rem(top, $content-gutter);
		right: 0;
		@include rem(bottom, $content-gutter);
		left: 0;
		@include rem(padding, 0 $content-gutter);
		overflow: hidden;
	}
		.page__sidebar + .page__content {
			left: $sidebar-width;
		}
		.page__content + .page__sidebar {
			border-right: 0;
			border-left: 1px solid $color-gray-3;
		}
		.page__backward + .page__content {
			left: $backward-width;
		}

	.page__header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		@include rem(height, $content-header-height);
		@include rem(padding, 0 $content-gutter);
		overflow: hidden;
	}
		.page__header_compact {
			@include rem(height, $content-header-height_compact);
		}
		.page__title {
			@include rem(margin, 0 0 20px);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.page__subtitle {
			margin: 0;
			@include font-family(hn);
			font-size: 16px;
			color: $color-gray-2;
		}
	.page__body {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		@include rem(padding, 0 $content-gutter);
		overflow: auto;
	}

	.page__footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		@include rem(height, $content-footer-height);
		@include rem(padding, 0 $content-gutter);
	}

		.page__header ~ .page__body {
			@include rem(top, $content-header-height);
		}
		.page__header_compact ~ .page__body {
			@include rem(top, $content-header-height_compact);
		}
		// .page__footer должен идти перед .page__body
		.page__footer ~ .page__body {
			@include rem(bottom, $content-footer-height);
		}
// -----------