$navbar-submenu-gutter: $content-gutter + $navbar-submenu-gutter;

.site-navbar {
	@include rem(margin, 0 (-$content-gutter));
	@include font-family(os400);

	ul {
		list-style: none;
		padding-left: 0;
		ul {
			@include rem(margin-top, 6px);
		}
	}

	li {
		position: relative;
		@include rem(font-size, 20px);
		line-height: 1.15;
		color: $color-gray-2;

		li {
			color: $color-green-2;

			> a {
				display: block;
				@include rem(padding, 10px $content-gutter 10px $navbar-submenu-gutter);
				border-left: 8px solid #fff;
				border-left: .8rem solid #fff;
				transition: background .3s, border-color .3s;

				&:hover,
				&:focus,
				&.active {
					text-decoration: none;
					background-color: $color-gray-5;
					border-color: $color-gray-2;
				}
				&.active {
					cursor: default;
					background-color: $color-gray-6;
					border-color: $color-gray-3;
				}
			}
		}
	}
}
.nav-section__title {
	@include rem(padding-left, $content-gutter);
}
.nav-section {
	@include rem(margin-bottom, 25px);
}