extends ../layouts/default.jade
block content
	.page
		.page__sidebar
			nav.site-navbar
				ul
					li.nav-section
						.nav-section__title Входящие
						ul
							li
								a(href="#") Новые
								li
									a.active(href="#") Выписки из индивидуальной программы реабилитации

					li.nav-section
						.nav-section__title Исходящие документы
						ul: li: a(href="#") Информация об исполнении

					li.nav-section
						.nav-section__title Дополнительно
						ul
							li: a(href="#") Архив
							li: a(href="#") Учетные записи
							li: a(href="#") Настройки

		.page__content
			.page__header
				h2.page__title Выписки из индивидуальной программы реабилитации (38)
				.filter.row
					.col-md-4
						.row.row_compact
							.col-md-6.form-group.form-group-lg
								label(for="dateStart") Дата с
								input.form-control(type="text", id="dateStart", tabindex="100")
							.col-md-6.form-group.form-group-lg
								label(for="dateEnd") По
								input.form-control(type="text", id="dateEnd", tabindex="101")
					.col-md-5.col-sm-4.form-group.form-group-lg
						label(for="userFio") ФИО
						input.form-control(type="text", id="userFio", tabindex="102")
					.col-md-2.form-group.form-group-lg
						label(for="userSex") Пол
						input.form-control(type="text", id="userSex", tabindex="103")
					.col-md-1.col-sm-2.form-group.form-group-action.text-right
						button.btn.btn-primary.btn-lg.btn-block(tabindex="104")
							i.icon-search

			.page__footer
				.toolbar_va-bottom.toolbar_compact.toolbar_max-height.text-right
					button.toolbar__item.btn.btn-primary.btn-lg.btn-round(disabled)
						i.icon-arrow-left
					button.toolbar__item.btn.btn-primary.btn-lg.btn-round
						i.icon-arrow-right

			.page__body
				.table-wrap
					table.table.table-striped.table-hover
						-for (var i=0; i<7; i++)
							tr
								td.table__record-icon
									i.icon-menu
								td.table__record-info
									.table__record-dates
										span 3.4.15/2016
										span.span-light от 11.02.2016
									.table__record-name № 2.4.15/16 Петров Викентий Сидорович
								td.table__record-remove
									button.icon-remove-square

	.page
		.page__backward
			.page__backward-icon.icon-chevron-left
		.page__content
			.page__header.page__header_compact
				.page__subtitle Выписка из индивидуальной программы реабилитации № 2.4.2016 от 11.10.2016
				.text-right
					button.btn.btn-lg.btn-primary
						i.icon-print
			.page__footer
				.toolbar_va-bottom.toolbar_max-height.text-right
					button.toolbar__item.btn.btn-default.btn-lg Отмена
					button.toolbar__item.btn.btn-primary.btn-lg Сохранить
			.page__body
				.document
					.document__title.text-center
						h2 Выписка из индивидуальной программы реабилитации
							.form-group.form-group-lg.form-inline
								.col-auto
									span №
									input.form-control.text-center(type="text", value="1234.23.22")
								.col-auto
									span от
									input.form-control.text-center(type="text", value="09.04.2016")
					.form-group.form-group-lg
						input.form-control(type="text")
						.input-note (наименование и адрес федерального государственного учреждения медико-социальной экспертизы, в которое отправляется информация об исполнении мероприятий, предусмотренных индивидуальной программой реабилитации или абилитации инвалида и индивидуальной программой реабилитации или абилитации ребенка-инвалида)
					.form-group.form-group-lg
						input.form-control(type="text")
						.input-note (наименование и адрес федерального государственного учреждения медико-социальной экспертизы, в которое отправляется информация об исполнении мероприятий, предусмотренных индивидуальной программой реабилитации или абилитации инвалида и индивидуальной программой реабилитации или абилитации ребенка-инвалида)

					h3.text-center 1. Общие сведения об инвалиде (ребенке-инвалиде)
					.form-group.form-group-lg.form-table
						label 1. Фамилия Имя Отчество (при наличии):
						.col-sm-12
							input.form-control(type="text")
					.form-group.form-group-lg.form-inline
						.row.row_compact
							.col-auto
								label 2. Дата рождения: день
								input.form-control(type="text")
							.col-auto
								label месяц
								input.form-control(type="text")
							.col-auto
								label день
								input.form-control(type="text")
					.form-group.form-group-lg.form-inline
						.row
							.col-auto
								label 3. Возраст: число полных лет (для ребенка в возрасте до 1 года число полных месяцев):
								input.form-control(type="text")
					.form-group.form-group-lg.form-inline
						.row
							label.col-sm-8 4. Адрес места жительства (при отсутствии места жительства указывается адрес места пребывания, фактического проживания на территории Росисйской Федерации, место нахождения пенсиооного дела инвалида (ребенка-инвалида), выехавшего на постоянное жительство за пределы Российской Федерации):
							.col-auto
								input.form-control(type="text")