extends ../layouts/default.jade
block content
	.page#page1
		.page__sidebar
			nav.site-navbar
				ul
					li.nav-section
						.nav-section__title Входящие
						ul
							li
								a(href="#") Новые
								li
									a.active(href="#") Выписки из индивидуальной программы реабилитации

					li.nav-section
						.nav-section__title Исходящие документы
						ul: li: a(href="#") Информация об исполнении

					li.nav-section
						.nav-section__title Дополнительно
						ul
							li: a(href="#") Архив
							li: a(href="#") Учетные записи
							li: a(href="#") Настройки
		.page__content
			h1 page 1

	.page#page2
		.page__content
			h1 page 2