extends ../layouts/default.jade
block content
	.content
		h1 Content
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit repudiandae nisi rerum ipsam molestiae quisquam at ea temporibus accusamus ex?
