extends ../layouts/default.jade
block content
	.page#page1
		.page__sidebar
			nav.site-navbar
				ul
					li.nav-section
						.nav-section__title Входящие
						ul
							li
								a(href="#") Новые
								li
									a.active(href="#") Выписки из индивидуальной программы реабилитации

					li.nav-section
						.nav-section__title Исходящие документы
						ul: li: a(href="#") Информация об исполнении

					li.nav-section
						.nav-section__title Дополнительно
						ul
							li: a(href="#") Архив
							li: a(href="#") Учетные записи
							li: a(href="#") Настройки

		.page__content
			.page__header
				h2.page__title Выписки из индивидуальной программы реабилитации (38)
				.filter.row
					.col-md-4
						.row.row_compact
							.col-md-6.form-group.form-group-lg
								label(for="dateStart") Дата с
								input.form-control(type="text", id="dateStart", tabindex="100")
							.col-md-6.form-group.form-group-lg
								label(for="dateEnd") По
								input.form-control(type="text", id="dateEnd", tabindex="101")
					.col-md-5.col-sm-4.form-group.form-group-lg
						label(for="userFio") ФИО
						input.form-control(type="text", id="userFio", tabindex="102")
					.col-md-2.form-group.form-group-lg
						label(for="userSex") Пол
						input.form-control(type="text", id="userSex", tabindex="103")
					.col-md-1.col-sm-2.form-group.form-group-action.text-right
						button.btn.btn-primary.btn-lg.btn-block(tabindex="104")
							i.icon-search

			.page__footer
				.toolbar.toolbar_va-bottom.toolbar_compact.toolbar_max-height.text-right
					button.toolbar__item.btn.btn-primary.btn-lg.btn-round(disabled)
						i.icon-arrow-left
					button.toolbar__item.btn.btn-primary.btn-lg.btn-round
						i.icon-arrow-right

			.page__body
				.table-wrap
					table.table.table-striped.table-hover
						-for (var i=0; i<7; i++)
							tr.js-ajax-link(data-load="page2")
								td.table__record-icon
									i.icon-menu
								td.table__record-info
									.table__record-dates
										span 3.4.15/2016
										span.span-light от 11.02.2016
									.table__record-name № 2.4.15/16 Петров Викентий Сидорович
								td.table__record-remove
									button.icon-remove-square