extends ../layouts/blank.jade
block content
	.login-form
		header
			.site-logo.site-logo_single
				a.site-logo__image(href="/", title="Главная")
				.site-logo__title АИС Индивидуальная программа реабилитации инвалидов
		form.login-form__body
			.form-group.form-group-lg
				label(for="email") Имя пользователя
				input.form-control(type="text", id="login")
			.form-group.form-group-lg
				label(for="pwd") Пароль
				input.form-control(type="password", id="pwd")
			button.btn.btn-primary.btn-lg.btn-block(type="submit") Войти в систему