doctype html
html
	head
		include ../includes/head.jade
		block head
	body
		.main-wrap
			.main-container
				include ../includes/header.jade
				.main-content
					block content
		include ../includes/foot.jade