doctype html
html
	head
		title AIS
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- link(rel="stylesheet", href="assets/styles/vendor.css")
		link(rel="stylesheet", href="assets/styles/style.css")
		<!--[if lt IE 9]>
		script(src="assets/scripts/ie.js")
		<![endif]-->
		block head
	body
		.main-wrap
			.main-container
				include ../includes/header.jade
				.main-content
					block content

		script(src="//code.jquery.com/jquery-latest.min.js")
		script(src="assets/scripts/vendor.js")
		script(src="assets/scripts/app.js")
		block scripts