header
	.site-logo
		a.site-logo__image(href="/", title="Главная")
		.site-logo__title АИС Индивидуальная программа реабилитации инвалидов
	.user-area
		a.user-area__name(href="/login.html") Иванова И. И.
			i.icon-user-md
